/* ----------------------------------- Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* ----------------------------------- Body */
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding-left: 20px;
}

.uppercase {
    text-transform: uppercase;
}

/* ----------------------------------- Colours */

.body-bg-color {
    /*background-image: linear-gradient(to left bottom, #e50000, #f10031, #f60054, #f50075, #ec0095, #e020ad, #ce36c5, #b549da, #9a5eea, #7b6ff5, #537dfc, #0088ff);*/
    background-color: #e50000;
}

.navbar-bg-color-home {
    background-color: #00173a;
    border-left: 1px solid #335282;
}

.navbar-bg-color-safety-equipment {
    background-color: #00173a;
    border-left: 1px solid #335282;
}

.navbar-bg-color-events-activities {
    background-color: #00173a;
    border-left: 1px solid #335282;
}

.navbar-bg-color-contact {
    background-color: #00173a;
    border-left: 1px solid #335282;
}

.bg-color-ice-information {
    background-color: #f4f4f4;
}

/* ----------------------------------- Heading */

header {
    margin: 0;
}

.logo {
    background: url("https://c.pxhere.com/photos/2f/99/lifeguard_summer_beach_sand_sea-224.jpg!d");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.row-title {
    margin-top: 40px;
    margin-bottom: 165px;
}

.text-title {
    padding-left: 20px;
    color: #f4f4f4;
    font-size: 36px;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fdc663;
    height: 120px;
}

.menuitem a i {
    padding: 22px 0 11px 0;
    display: block;
    color: #fdc663;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
}

/* ----------------------------------- Hover.css */

/* Shadow Radial */
.hvr-shadow-radial {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-shadow-radial:before, .hvr-shadow-radial:after {
  pointer-events: none;
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.hvr-shadow-radial:before {
  bottom: 100%;
  background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.hvr-shadow-radial:after {
  top: 100%;
  background: -webkit-radial-gradient(50% -50%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.hvr-shadow-radial:hover:before, .hvr-shadow-radial:focus:before, .hvr-shadow-radial:active:before, .hvr-shadow-radial:hover:after, .hvr-shadow-radial:focus:after, .hvr-shadow-radial:active:after {
  opacity: 1;
}

/* ----------------------------------- Footer */

footer {
    background-color: #00173a;
    color: #fdc663;
    min-height: 120px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e50000;
}

/* ----------------------------------- ICE Contact Information */

.ice-information-heading {
    padding: 20px 0px 40px 0px;
}

.ice-information-subheading-emergency {
    font-size: 44px;
    font-weight: 800;
    color: #e50000;
}

.ice-information-subheading-non-emergency {
    font-size: 44px;
    font-weight: 800;
    color: #175a09;
}

.ice-information {
    padding-left: 20px;
}